{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Admin : Page d'Accueil</h1>

    <ul>
        <li><a href="{{path('admin_genre_index')}}">Liste des genres de film</a></li>
        <li><a href="{{path('admin_film_index')}}">Liste des films</a></li>
        <hr>
        <li><a href="{{path('main')}}">Accueil du site</a></li>
    </ul>
{% endblock %}
